<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example Bootstrap page</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/product.css" rel="stylesheet">
    <script type="application/javascript" src="js/jquery.js"></script>
    <script type="application/javascript" src="js/popper.js"></script>
    <script type="application/javascript" src="js/bootstrap.js"></script>
    <script type="application/javascript" src="js/holder.js"></script>
</head>
<body>
</body>
</html>
